body {
  font-family: "Roboto Condensed", sans-serif;
}

/* header */

.header {
  position: sticky;
  top: 0;
  background-color: rgb(var(--color-primary-500));
  color: rgb(var(--color-white));
  box-shadow: rgba(0, 0, 0, 0) 0px 0px 0px 0px, rgba(0, 0, 0, 0) 0px 0px 0px 0px,
    rgba(0, 0, 0, 0.1) 0px 1px 3px 0px, rgba(0, 0, 0, 0.1) 0px 1px 2px -1px;
  z-index: 1;
}

.header .header__title {
  font-size: var(--font-size-4xl);
  line-height: var(--font-size-4xl-line-height);
  text-align: center;
  padding: var(--size-4) 0;
}

/* main */

.main {
  margin-bottom: var(--size-28);
}

.main--profile-page {
  margin-right: var(--size-16);
  margin-left: var(--size-16);
}

/* primary-button */

.primary-button {
  border-width: 2px;
  border-color: rgb(var(--color-black));
  padding-left: var(--size-8);
  padding-right: var(--size-8);
  padding-top: var(--size-3);
  padding-bottom: var(--size-3);
  margin-bottom: var(--size-6);
  background-color: rgb(var(--color-primary-400));
  text-transform: uppercase;
}

.primary-button:hover {
  background-color: rgb(var(--color-primary-600));
  color: rgb(var(--color-white));
}

/* tag-list */

.tag-list {
  display: flex;
  gap: var(--size-3);
  flex-wrap: wrap;
}

.tag-list .tag-list__item {
  border-right-width: 2px;
  border-bottom-width: 2px;
  border-color: rgb(var(--color-primary-400));
  padding-left: var(--size-2);
  padding-right: var(--size-2);
  padding-top: var(--size-1);
  padding-bottom: var(--size-1);
  background-color: rgb(var(--color-gray-100));
}

.tag-list .tag-list__item:hover {
  background-color: rgb(var(--color-gray-200));
  border-color: rgb(var(--color-primary-600));
}

/* card */

.card {
  border-width: 1px;
  border-color: rgb(var(--color-black));
  margin: var(--size-6) var(--size-4);
  padding: var(--size-6);
  box-shadow: rgba(0, 0, 0, 0) 0px 0px 0px 0px, rgba(0, 0, 0, 0) 0px 0px 0px 0px,
    rgba(0, 0, 0, 0.1) 0px 20px 25px -5px, rgba(0, 0, 0, 0.1) 0px 8px 10px -6px;
  border-radius: var(--border-radius-default);
  position: relative;
}

.card .card__question {
  font-size: var(--font-size-2xl);
  line-height: var(--font-size-2xl-line-height);
  margin-bottom: var(--size-6);
  border-color: rgb(var(--color-gray-200));
  border-radius: var(--border-radius-2xl);
  border-width: 4px;
  padding: var(--size-4);
}

.card:hover .card__question {
  border-color: rgb(var(--color-primary-400));
  border-style: dashed;
  background-color: rgb(var(--color-primary-100));
  color: rgb(var(--color-primary-900));
  box-shadow: rgba(0, 0, 0, 0) 0px 0px 0px 0px, rgba(0, 0, 0, 0) 0px 0px 0px 0px,
    rgba(0, 0, 0, 0.1) 0px 20px 25px -5px, rgba(0, 0, 0, 0.1) 0px 8px 10px -6px;
}

.card .card__bookmark-icon {
  position: absolute;
  top: -10px;
  right: 4px;
  height: var(--size-9);
}

/* footer */

.footer {
  padding-top: var(--size-2);
  border-top-width: 1px;
  border-color: rgb(var(--color-black));
  position: fixed;
  width: 100vw;
  bottom: 0;
  background-color: rgb(var(--color-white));
}

/* navbar */

.navbar {
}

.navbar__link {
  display: inline-block;
  border-bottom-width: 4px;
  padding: var(--size-2) 0;
  border-color: transparent;
}

.navbar__link:hover {
  border-color: black;
}

.navbar__img {
  height: var(--size-7);
}
