body {
  font-family: "Roboto Condensed", sans-serif;
}

.main {
  margin-bottom: var(--size-28);
}

.main--profile-page {
  margin-right: var(--size-16);
  margin-left: var(--size-16);
}

/* dark mode */

.dark body {
  background-color: rgb(var(--color-dark-slate-700));
}

.dark .main--profile-page {
  color: rgb(var(--color-white));
}
