.card {
  border-width: 1px;
  border-color: rgb(var(--color-black));
  margin: var(--size-6) var(--size-4);
  padding: var(--size-6);
  box-shadow: rgba(0, 0, 0, 0) 0px 0px 0px 0px, rgba(0, 0, 0, 0) 0px 0px 0px 0px,
    rgba(0, 0, 0, 0.1) 0px 20px 25px -5px, rgba(0, 0, 0, 0.1) 0px 8px 10px -6px;
  border-radius: var(--border-radius-default);
  position: relative;
}

.card .card__question {
  font-size: var(--font-size-2xl);
  line-height: var(--font-size-2xl-line-height);
  margin-bottom: var(--size-6);
  border-color: rgb(var(--color-gray-200));
  border-radius: var(--border-radius-2xl);
  border-width: 2px;
  padding: var(--size-4);
}

.card:hover .card__question {
  border-color: rgb(var(--color-light-primary-400));
  border-style: dashed;
  background-color: rgb(var(--color-gray-100));
  box-shadow: rgba(0, 0, 0, 0) 0px 0px 0px 0px, rgba(0, 0, 0, 0) 0px 0px 0px 0px,
    rgba(0, 0, 0, 0.1) 0px 20px 25px -5px, rgba(0, 0, 0, 0.1) 0px 8px 10px -6px;
}

.card .card__answer {
  margin-left: var(--size-8);
  margin-right: var(--size-8);
  margin-top: var(--size-4);
  margin-bottom: var(--size-4);
  font-size: var(--font-size-xl);
  line-height: var(--font-size-xl-line-height);
  font-style: italic;
  font-weight: var(--font-weight-semibold);
  color: rgb(var(--color-gray-700));
}

.card .card__answer > svg {
  width: var(--size-10);
  height: var(--size-10);
}

.card .card__answer--hidden {
  display: none;
}

.card .card__bookmark-icon {
  position: absolute;
  top: -10px;
  right: 4px;
  height: var(--size-9);
  width: var(--size-9);
  background-image: url("/assets/bookmark.png");
  background-size: cover;
}

.card .card__bookmark-icon--selected {
  background-image: url("/assets/bookmark_filled.png");
}

/* dark mode */

.dark .card {
  background-color: rgb(var(--color-dark-slate-600));
}

.dark .card .card__question {
  border-color: rgb(var(--color-dark-slate-700));
}

.dark .card:hover .card__question {
  border-color: rgb(var(--color-dark-primary-700));
  background-color: rgb(var(--color-dark-slate-700));
}

.dark .card .card__answer {
  color: rgb(var(--color-gray-300));
}

.dark .card .card__bookmark-icon--selected {
  background-image: url("/assets/dark-mode/bookmark_filled.png");
}
